:root {
  --light-color: #e5eaf5;
  --text-color: #dfc8fa;
  --dark-color: #353846;
  --main-color: #8458b8;
  --brand-color: rgb(64, 147, 189);
  --soft-color: #a0d2eb;
  --accent-color: rgb(232, 82, 255);
  --gradient: linear-gradient(
    91.53deg,
    #4093bd 4.84%,
    #dfc8fa 54.14%,
    #e852ff 99.5%
  );
  --main-font: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Archistico";
  src: url("./src/fonts/fonts/Archistico_Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "WaitingfortheSunrise";
  src: url("./src/fonts/fonts/WaitingfortheSunrise-Regular") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--main-font), sans-serif;
}

img {
  width: 100%;
}

h1,
h2 {
  color: var(--text-color);
  font-weight: 700;
}

h3 {
  color: var(--brand-color);
}

h4,
h6 {
  color: var(--accent-color);
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 24px;
}

a:hover {
  color: var(--accent-color);
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
  border-bottom: 2px solid var(--brand-color);
}

.custom-decoration {
  display: inline-block;
  position: relative;
}

.custom-decoration::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.custom-decoration:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo-name {
  font-family: "Archistico";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 36px;
}

.title-name {
  font-family: "Archistico";
  font-style: normal;
  font-weight: 700;
  font-size: 82px;
  line-height: 93px;
  color: var(--brand-color);
}

.custom-btn {
  padding: 16px 32px;
  max-height: 54px;
  background: linear-gradient(
    97.18deg,
    #8458b8 -12.73%,
    rgba(38, 42, 63, 0) 133.76%
  );
  box-shadow: drop-shadow(7px 8px 22px #000000)
    drop-shadow(-4px 2px 16px rgba(217, 217, 217, 0.25));
  border-radius: 30px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.custom-btn:hover,
.custom-btn:focus {
  background: linear-gradient(
    97.18deg,
    #8458b8 -12.73%,
    rgba(38, 42, 63, 0) 133.76%
  );
  filter: drop-shadow(7px 8px 22px #000000)
    drop-shadow(-4px 2px 16px rgba(217, 217, 217, 0.25));
  color: var(--brand-color);
  box-shadow: 0 0.5em 0.5em -0.4em var(--brand-color);
  transform: translateY(-0.25em);
}

.custom-card {
  background-color: #424657;
}

.custom-shadow {
  filter: drop-shadow(7px 8px 22px #000000)
    drop-shadow(-4px 2px 16px rgba(217, 217, 217, 0.25));
}

.custom-shadow:hover {
  filter: drop-shadow(8px 8px 4px #4093bd);
  transform: translateY(-0.25em);
}

.footer-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.footer-icon {
  padding-left: 10px;
  width: 10%;
}

svg {
  background: var(--dark-color);
}

/* About Me */

.my-photo {
  max-width: 400px;
  border: solid 18px var(--brand-color);
}

.my-photo:hover {
  box-shadow: 10px 11px 15px rgba(214, 0, 249, 0.4);
  border: solid 12px var(--brand-color);
  transition: 0.5s ease-in-out;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #424657;
  border-radius: 100px;
  font-size: 24px;
}

/* My Work */

.cover-1 {
  border: solid 6px var(--soft-color);
}

.cover-2 {
  border: solid 6px var(--brand-color);
}

.cover-3 {
  border: solid 6px var(--main-color);
}

.cover-4 {
  border: solid 6px var(--accent-color);
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.25s;
  pointer-events: none;
}

li {
  list-style: none;
}

.contact-menu {
  width: 800px;
  margin: 60px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.contact-menu li:first-child:hover ~ .bg {
  background: #a0d2eb;
}
.contact-menu li:nth-child(2):hover ~ .bg {
  background: #4093bd;
}
.contact-menu li:nth-child(3):hover ~ .bg {
  background: #8458b8;
}
.contact-menu li:nth-child(4):hover ~ .bg {
  background: #e852ff;
}

.work-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.work-card:hover {
  transform: translateY(20px);
}

.work-card:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: rgba(38, 42, 63, 0.9);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.work-card:hover:before {
  opacity: 1;
}

.work-card .work-info {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 3;
  transform: translateY(30px);
  transition: 0.5s all;
  opacity: 0;
}

.work-card .work-info:hover {
  opacity: 1;
}

@media (max-width: 667px) {
  .work-info p {
    font-size: 14px;
  }

.work-card .work-info {
  top: 0;
  left: 0;
}


  .custom-btn {
    font-size: 14px;
    padding: 12px 28px;
  }
}
