@font-face {
    font-family: "Poppins";
    src: url("./src/fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./src/fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./src/fonts/fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Archistico";
    src: url("./src/fonts/fonts/Archistico_Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "WaitingfortheSunrise";
    src: url("./src/fonts/fonts/WaitingfortheSunrise-Regular") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }